<section class="todoapp">
  <app-todo-form (addTodo)="addTodo($event)"></app-todo-form>

  <app-todo-list
    (sendToggleAllStatus)="updateTodos($event)"
  >
    <ng-container *ngFor="let todo of visibleTodos">
      <app-todo-item
        [todo]="todo"
        (onRemove)="deleteTodo($event)"
        (onChange)="changeStatus($event)"
      ></app-todo-item>
    </ng-container>
  </app-todo-list>

  <footer class="footer">
<!--    <span class="todo-count" *ngIf="(notCompletedTodos$ | async)?.length > 0">-->
<!--      {{ (notCompletedTodos$ | async)?.length }} items left-->
<!--    </span>-->

    <ul class="filters">
      <li>
        <a (click)="onFilterChange('all')" class="selected" style="cursor: pointer">
          All
        </a>
      </li>

      <li>
        <a (click)="onFilterChange('active')" style="cursor: pointer">
          Active
        </a>
      </li>

      <li>
        <a (click)="onFilterChange('completed')" style="cursor: pointer">
          Completed
        </a>
      </li>
    </ul>

    <button
      *ngIf="buttonStatus"
      type="button"
      class="clear-completed"
      (click)="completedRemove()"
    >
      Clear completed
    </button>
  </footer>
</section>
